.header {
    text-align: center;
    color: cadetblue;
    margin-top: 15px;
    margin-bottom: 15px;
}

.register-form {
    margin: 0 auto;
    width: 50%;
}

.register-form input {
    display: block;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.register-button {
    background-color: cadetblue;
    border: none;
    color: white;
    border-radius: 7px;
    font-weight: 600;
    font-family: monospace;
    font-size: x-large;
}