.service-container {
    border: solid goldenrod;
    border-radius: 10px;
    padding-bottom: 5px;
    text-align: center;
}

.service-name {
    color: orange;
    font-family: serif;
    font-style: unset;
    font-weight: lighter;
}

.description-style {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    padding: 7px;
    display: inline;

}

.button-style {
    font-weight: 700;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 25px;
    background-color: aquamarine;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    position: relative;
    transition: 0.5s;

}

.button-style:hover {
    cursor: pointer;
    background-color: orange;
    padding-right: 25px;
}